@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Localizer["Nav_Welcome"] @User.Identity?.Name!
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["Manage_Account"]</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item" style="cursor:pointer;">@Localizer["Nav_Logout"]</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-uppercase" asp-area="Identity" asp-page="/Account/Register">
            <i class="fas fa-user-plus me-1"></i>@Localizer["Nav_Register"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" asp-area="Identity" asp-page="/Account/Login">
            <i class="fas fa-sign-in-alt me-1"></i>@Localizer["Nav_Login"]
        </a>
    </li>
}
</ul>